<section class="content-header">
          <h1>
            Acerca de
          </h1>

</section>
<section class="content">

   <div class="row">
      <div class="col-md-12 col-lg-12 col-xs-12">
              <!-- AREA CHART -->
        <div class="box box-primary">
            <div class="box-header with-border">
                  <h3 class="box-title" style="font-size:17px;">Derechos de Autor:</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <h4>Proyecto: </h4> <p>Software Web de gestión Empresarial, Cementerio Campos de Paz</p>

              <h4>Desarrollado por: </h4> <p> SOLUCIONES TECNOLOGICAS ALFA</p>
			   <h4>Construido: </h4> <p> bajo metodologías de Diseño, Análisis y programación</p>

			 <br>
			     <h4>Contacto: </h4>
				 <p> Celular: 72580726</p>
				 <p> Whatsapp: +591 72580726</p>
				<p>Facebook:</p> <a target="_blanck" href ="https://www.facebook.com/">  SoluTec Alfa </a>
            </div><!-- /.box-body -->
        </div><!-- /.box -->


      </div><!-- /.col (RIGHT) -->
    </div><!-- /.row -->

</section><!-- /.content -->

<script type="text/javascript">

    $('#liAcerca').addClass("treeview active");
</script>
