<div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Kardex </h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>

    <!-- /.box-header -->

    <div class="box-body">
      	<div class="row">
          	<div class="col-md-12">

                <br><br>
                <div id="VerListadoKardex" class="table-responsive">
                	<table id="tblContratoKardex" class="table table-striped table-bordered table-condensed table-hover" cellpadding="0" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                            	<th>#</th>
                                <th>Nro Contrato</th>
                                <th>Cementerio</th>
                                <th>Sector</th>
                                <th>Nro Lote</th>
                                <th>Adquiriente</th>
                                <th>Ejecutivo de Venta</th>
                                <th style="width:150px;">Opciones</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Nro Contrato</th>
                                <th>Cementerio</th>
                                <th>Sector</th>
                                <th>Nro Lote</th>
                                <th>Adquiriente</th>
                                <th>Ejecutivo de Venta</th>
                                <th style="width:150px;">Opciones</th>
                            </tr>
                        </tfoot>
                        <tbody id="contratokardex">
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.box-body -->
</div><!-- /.box -->







<script type="text/javascript">

    $('#liContrato').addClass("treeview active");

    $('#liKardex').addClass("active");

</script>

