<div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Clientes en Mora </h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>

    <!-- /.box-header -->

    <div class="box-body">
      	<div class="row">
          	<div class="col-md-12">

                <br><br>
                <div id="VerListadoMora" class="table-responsive">
                	<table id="tblContratoMora" class="table table-striped table-bordered table-condensed table-hover" cellpadding="0" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                            	<th>#</th>
                                <th>Num. Documento</th>
                                <th>Adquiriente</th>
                                <th>Celular<br>Adquiriente</th>
                                <th>Teléfono<br>Adquiriente</th>
                                <th>Nro Cuotas<br>Deudoras</th>
                                <th>Monto<br>Adeudado</th>
                                <th>Ejecutivo de Venta</th>
                                <th>Nro Contrato</th>
                                <th>Precio NF</th>
                                <th>Último Pago</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Num. Documento</th>
                                <th>Adquiriente</th>
                                <th>Celular<br>Adquiriente</th>
                                <th>Teléfono<br>Adquiriente</th>
                                <th>Nro Cuotas<br>Deudoras</th>
                                <th>Monto<br>Adeudado</th>
                                <th>Ejecutivo de Venta</th>
                                <th>Nro Contrato</th>
                                <th>Precio NF</th>
                                <th>Último Pago</th>                                
                            </tr>
                        </tfoot>
                        <tbody id="contratomora">
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.box-body -->
</div><!-- /.box -->







<script type="text/javascript">

    $('#liContrato').addClass("treeview active");

    $('#liMora').addClass("active");

</script>

